{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!--For displaying alert message-->
                  {% if messages %}
                    {% for msg in messages %}
                      <div class="alert alert-{{ msg.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{msg.message}}
                      </div>
                    {% endfor %}
                  {% endif %}
                  <!--alert message ends-->
                <!-- Nested Row within Card Body -->
                <div class="row">
                    
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" action="/registration" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-6 mb-sm-0">
                                        <label>User Type</label>
                                        <select class="form-control" name="role_id">
                                            <option selected disabled>-Select type-</option>
                                            {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label>First Name</label>
                                        <input type="text" name="first_name" class="form-control" id="first_name"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Last Name</label>
                                        <input type="text" name="last_name" class="form-control" id="last_name"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            placeholder="Email Address">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Phone</label>
                                        <input type="text" name="phone" class="form-control" id="phone"
                                            placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="password" class="form-control"
                                            id="password" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control"
                                            id="conf_password" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>

                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}